<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <p>OpenBSD "puffy" logo copyright Theo deRaadt</a></p>
    <p>Content otherwise Attribution-NonCommercial-ShareAlike 4.0 International</p>
    <p>No ads, no tracking, or data-collection</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
